html,body{
	font-family: "FangZheng";
	background: url('../images/health_manage_bg.jpg') center/100% 100% no-repeat;
	height: 100%;
	overflow-y: scroll;
}

.decorate{
	width: 5.58rem;
	padding-top: 0.5rem;
	overflow: hidden;
}	
.health{
	margin-top: 0.64rem;
	height: 5.7rem;
	overflow-y: scroll;
}
.health ul li{
	border-bottom: 0.2rem solid #e5e5e5;
	padding: 0 0.24rem;
	margin-top: 0.2rem
}
.health ul li:last-of-type{	
	border-bottom: 0;
}
.health ul li:last-of-type div.content{	
	border-bottom: 0;
}
.health ul li div.content{
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
	padding-bottom: 0.2rem;
}
.health ul li div.content span{
	width: 1.9rem;
	border: 5px solid #89795a; 
	display: block;
	overflow: hidden;
	float: left;
}
.health ul li div.content div{
	flex: 1;
	float: right;
	width: 4.7rem;
	font-size: 0.3rem;
	color: #333333;
}
.health ul li div.content div p{
	border-bottom: 1px dashed #c0c0c0;
	line-height: 0.7rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.health ul li div.content div p b{
	font-size: 0.42rem;
	color: #692407;
}
.health ul li div.content div p:last-of-type{
	border-bottom: 0;
}