html,body{
	height: 100%;
}
.main{
	font-family: "FangZheng";
	overflow: hidden;
	height: 100%;
	background: url('../images/myMember_bg.jpg') no-repeat;
	background-size: 100% 100%;
	overflow: scroll;
	padding: 0 0.24rem;
}

.main h1{
	line-height: 1.2rem;
	border-bottom: 1px solid #c0c0c0;
	color: #666666;
	font-size: 0.28rem;
	font-weight: 500;
	overflow: hidden;
}
.main h1 a{
	float: left;
}
.main h1 span{
	float: right;
	font-size: 0.32rem;
	color: #692407;
}
.main h1 span i{
	font-style: normal;
}
.main ul{
	font-size: 0.28rem;
	padding-top: 0.4rem;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 0.3rem;
}
.main ul li{
	line-height: 0.5rem;
	overflow: hidden;
}
.main ul li a{
	float: left;
	color: #666666;
}
.main ul li span{
	float: right;
	color: #333333;
}
