html,body{
	font-family: "FangZheng";
	background: url('../images/myMember_bg.jpg') center/100% 100% no-repeat;
	height: 100%;
	overflow-y: scroll;
}

.swiper-container-horizontal>.swiper-pagination-bullets{
	right: 0.24rem;
	width: auto;
	left: auto;
	bottom: 0.1rem;
	height: 0.2rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets span.swiper-pagination-bullet{
	width: 0.1rem;
	height: 0.1rem;
	background: #b8b6b8;
	float: left;
}
.swiper-container-horizontal>.swiper-pagination-bullets span.swiper-pagination-bullet-active{
	background: #fff;
}
.main{
	padding: 0 0.24rem 0.5rem;
	overflow: hidden;
}
.main ul{
	margin-top: 0.1rem;
}
.main ul li{
	overflow: hidden;
	border-bottom: 1px solid #c0c0c0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0.2rem 0;
}
.main ul li b{
	width: 2.08rem;
}
.main ul li div{
	flex: 1;
	margin-left: 0.2rem;
}
.main ul li div h3{
	font-size: 0.3rem;
	color: #333333;
	margin-top: 0.05rem
}
.main ul li div p{
	font-size: 0.26rem;
	color: #666666;
	margin-top: 0.12rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.main ul li div time{
	font-size: 0.24rem;
	color: #666666;
	display: block;
	margin-top: 0.2rem;
}