html,body{
	height: 100%;
}
.main{
	font-family: "FangZheng";
	overflow: hidden;
	height: 100%;
	background: url('../images/physique_bg.jpg') no-repeat;
	background-size: 100% 100%;
	padding: 0 0.24rem;
	overflow-y: scroll;
}
.main header{
	overflow: hidden;
}
.main h1{
	font-size: 0.3rem;
	color: #333333;
	background: url('../images/cloud2.png') left/0.56rem 0.27rem no-repeat;
	padding-left: 0.68rem;
	line-height: 0.6rem;
	overflow: hidden;
	margin-top: 0.5rem;
}
.main h1 span{
	float: left;
}
.main h1 a{
	color: #692407;
	float: left;
}
.main h1 b{
	height: 1px;
	float: right;
	border-bottom:1px solid  #999999;
	width: 2.97rem;
	margin-top: 0.26rem;
}
.main .content{
	overflow: scroll;
	height: 6rem;
	font-size: 0.3rem;
	padding-top: 0.4rem;
}
.main .content div{
	overflow: hidden;
}
.main .content div h2{
	font-size: 0.3rem;
	color: #692407;
	width: 0.3rem;
	text-align: center;
	float: left;
	font-weight: 500;
}
.main .content div h2 i{
	font-style: normal;
}
.main .content div h2 span{
	display: block;
	transform: rotate(60deg);
	line-height: 0.2rem;
}
.main .content div ul{
	float: right;
	font-size: 0.28rem;
	color: #666666;
	line-height: 0.4rem;
	width: 6.6rem;
}

.main .content p{
	font-size: 0.28rem;
	color: #666666;
	margin-top: 0.45rem;
}
.main button{
	background: none;
	border: 1px solid #999999;
	display: block;
	border-radius: 3px;
	width: 2.98rem;
	line-height: 0.68rem;
	font-size: 0.26rem;
	font-family: "FangZheng";
	position: absolute;
	bottom: 0.8rem;
	left: 50%;
	margin-left: -1.49rem;
	color: #692407;
}