html,body{
	font-family: "FangZheng";
	background: url('../images/product_bg.jpg') center/100% 100% no-repeat;
	height: 100%;
	overflow-y: scroll;
}
.banner{
	overflow: hidden;
}
.title{
	padding: 0 0.24rem;
	border-bottom: 0.2rem solid #e5e5e5;
}
.title h1{
	font-size: 0.3rem;
	color: #333333;
	padding: 0.26rem 0 0.22rem 0.2rem;
}
.title p{
	font-size: 0.24rem;
	color: #666666;
	border-bottom: 1px solid #c0c0c0;
	padding: 0 0 0.3rem 0.2rem;
}
.content{
	padding: 0 0.24rem 0 0.46rem;
}
.content h3{
	font-size: 0.3rem;
	color: #333333;
	padding: 0.3rem 0;
}
.content p{
	font-size: 0.24rem;
	color: #666666;
	line-height: 0.36rem;
}